@page "/some"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    @section cssStyles{
        <style>
            .fade-in {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }

                .fade-in.fade-in-active {
                    opacity: 1;
                }
        </style>

    }

    <section class="container pt-5 mt-5">
        <div id="app"></div>

    </section>

    @section cssLib{

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
   
    
    }
    @section jsScripts{
        <script src="/vue/some.js"></script>
    }
