@page "/some/{asa?}/{sasa?}/{asas?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    @section cssStyles{


    }

    <section class="container pt-5 mt-5">
    <div id="app">
        <button class="btn btn-md">{{ something }}</button>
        <input v-model="originalVariable" type="text" placeholder="Type something...">
        <p>Original Variable: {{ originalVariable }}</p>
        <p>Dependent Variable: {{ dependentVariable }}</p>

        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <template v-else>
            <h1>no title</h1>
            <p>falana</p>
            <p>dhimkana2</p>
        </template>
    </div>

    </section>


    @section jsScripts{

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    something: 'Hey there its working',
                    originalVariable: '',
                };
            },
            computed: {
                dependentVariable() {
                    // Return the computed value based on the originalVariable
                    return this.originalVariable.toUpperCase(); // You can change the computation as per your needs.
                },
            },
            mounted() {
                // This code will be executed when the component is mounted
                console.log('Component mounted!');
                //on load equivalent
                this.originalVariable = 'Hello, Vue!'; 
            },
        });
        app.mount('#app');

    </script>


    }
