@page "/account/recover-password"
@model Coffeeroom.Pages.Account.PasswordRecoveryModel
@{
    Layout = "_LayOutEmpty";
}

<input id="userName" name="userName" placeholder="enter email or username"/>
<button class="btn btn-primary btn-md" type="submit" id="btnReset">PRESS ME</button>






@section jsScripts{
    <script>
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        let UserMail = document.getElementById('userName');
        const SubButton = document.getElementById('btnReset');

        SubButton.addEventListener('click',
            function (e) {
                e.preventDefault();
                submitMail();
            }
        );


        function submitMail() {

            SubButton.innerHTML = `<span class="spinner-grow bg-dark spinner-grow-sm me-2" role="status" aria-hidden="true"></span>Loading..`;
            let data = {
                UserId: UserMail.value
            };
            axios.defaults.headers.common['RequestVerificationToken'] = token;
            axios.post('/api/passreset', data)
                .then(function (response) {
                    console.log(response)
                    toaster("success", response.data);
                    SubButton.innerHTML = "Subscribe";
                    UserMail.value = "";
                })
                .catch(function (error) {
                    console.log(error);
                    toaster("error", error.response.data);
                    SubButton.innerHTML = "Subscribe";
                    UserMail.focus();

                })

        }
    </script>
}

