@page "/reactor"
@model Coffeeroom.Pages.Reactor.IndexModel
@{
}


<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5 pt-5 mt-5">
    <div class="text-center pb-3 pt-sm-3 pt-md-4 mx-auto mt-xxl-1 mb-3 mb-lg-4" style="max-width: 525px;">
        <h2 class="h1">Our space</h2>
        <p class="mb-0">Morbi et massa fames ac scelerisque sit commodo dignissim faucibus vel quisque proin lectus et massa.</p>
    </div>
    <!-- Navs-->
    <ul class="nav nav-tabs flex-nowrap overflow-auto text-nowrap w-100 mx-auto pb-3 mb-3 mb-lg-4" role="tablist" style="max-width: 646px;">
        <li class="nav-item mb-0"><a class="nav-link active" href="#" role="tab">All</a></li>
        <li class="nav-item mb-0"><a class="nav-link" href="#" role="tab">Open space</a></li>
        <li class="nav-item mb-0"><a class="nav-link" href="#" role="tab">Lounge zone</a></li>
        <li class="nav-item mb-0"><a class="nav-link" href="#" role="tab">Kitchen</a></li>
        <li class="nav-item mb-0"><a class="nav-link" href="#" role="tab">Parking</a></li>
    </ul>
    <!-- Gallery grid-->
    <div class="gallery row g-4 g-sm-3 g-lg-4 pb-2 pb-sm-4 pb-xl-5 mb-lg-2 mb-xl-0 mb-xxl-2">
        <div class="col-sm-5">
            <a class="d-block gallery-item card-hover zoom-effect" href="/assets/img/landing/coworking-space/gallery/01.jpg" data-lg-id="92fa1b84-aa59-432d-bb49-e97aa7913c91">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/assets/img/landing/coworking-space/gallery/th01.jpg" alt="Open space"></div>
            </a>
        </div>
        <div class="col-sm-7">
            <a class="d-block gallery-item card-hover zoom-effect" href="/assets/img/landing/coworking-space/gallery/02.jpg" data-lg-id="3aa44840-38e6-411d-aac9-b5fc01725d77">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/assets/img/landing/coworking-space/gallery/th02.jpg" alt="Kitchen"></div>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="d-block gallery-item card-hover zoom-effect" href="/assets/img/landing/coworking-space/gallery/03.jpg" data-lg-id="ead04089-50ff-4e99-9f29-4cd99466aa9c">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/assets/img/landing/coworking-space/gallery/th03.jpg" alt="Lounge zone"></div>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="d-block gallery-item card-hover zoom-effect" href="/assets/img/landing/coworking-space/gallery/04.jpg" style="max-width: 458px;" data-lg-id="14cabf90-0a46-4c46-8d83-7b98845b0b9f">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/assets/img/landing/coworking-space/gallery/th04.jpg" alt="Open space"></div>
            </a>
        </div>
        <div class="col-sm-5">
            <a class="d-block gallery-item card-hover zoom-effect" href="/assets/img/landing/coworking-space/gallery/05.jpg" data-lg-id="bd8bd15f-b2be-4a9c-85de-756c22b744a6">
                <div class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100 rounded-5 overflow-hidden zindex-2 opacity-0">
                    <i class="ai-zoom-in fs-2 text-white position-relative zindex-2"></i>
                    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-40"></div>
                </div>
                <div class="zoom-effect-wrapper rounded-5"><img class="zoom-effect-img" src="/assets/img/landing/coworking-space/gallery/th05.jpg" alt="Cafe"></div>
            </a>
        </div>
    </div>
</section>



                @section jsLib{
    <script src="/assets/vendor/lightgallery/lightgallery.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="/assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
                }

                    @section cssStyles{
    <link rel="stylesheet" media="screen" href="/assets/vendor/lightgallery/css/lightgallery-bundle.min.css" />
                    }