@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<section class="container pt-5 mt-5">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if(Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>PAGE NOT FOUND</h3>

</section>