@page "/"
@model Coffeeroom.Pages.IndexModel

<section class="position-relative pt-sm-3 pt-md-5 mb-xl-3 mb-xxl-5">
    <div class="position-absolute top-0 end-0 overflow-hidden mt-n5 mt-md-0">
        <svg class="d-block mt-n5 mt-md-0 me-md-n5 me-xxl-0" width="1207" height="894" viewBox="0 0 1207 894" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: var(--ar-gray-100);">
            <circle cx="639" cy="255" r="639"></circle>
        </svg>
    </div>
    <div class="container pt-5 pb-lg-4 pb-xl-5 mt-5">
        <div class="row pt-xl-4">
            <!-- Sticky image-->
            <div class="col-md-5 col-lg-6 offset-xxl-1 order-md-2 position-relative mb-3 mb-md-0" style="margin-top: -115px;">
                <div class="d-none d-md-block position-absolute bottom-0 end-0 text-uppercase fw-bold lh-1 pb-5 mb-4 pe-3" style="color: var(--ar-gray-100); font-size: 180px; transform: translate3d(0,0,0);">
                    <div class="d-flex mb-lg-3" style="padding-left: 160px;">
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="400" data-aos-delay="150" class="aos-init">C</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="400" data-aos-delay="200" class="aos-init">o</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="400" data-aos-delay="250" class="aos-init">f</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="400" data-aos-delay="300" class="aos-init">f</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="400" data-aos-delay="350" class="aos-init">e</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="400" data-aos-delay="400" class="aos-init">e</div>
                    </div>
                    <div class="d-flex">
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="300" data-aos-delay="150" class="aos-init">R</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="300" data-aos-delay="200" class="aos-init">o</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="300" data-aos-delay="250" class="aos-init">o</div>
                        <div data-aos="flip-right" data-aos-duration="700" data-aos-offset="300" data-aos-delay="300" class="aos-init">m</div>
                    </div>
                </div>
                <div class="position-sticky zindex-3 top-0" style="padding-top: 115px;">
                    <div class="px-5 px-md-0 ps-xl-5 ms-lg-3"><img class="d-block mx-auto mx-md-0" src="assets/img/landing/product/hero-image.png" width="465" alt="Headphones"></div>
                </div>
            </div>
            <!-- Text-->
            <div class="col-md-7 col-lg-6 col-xxl-5 order-md-1 position-relative zindex-3 text-center text-md-start pb-sm-3 pb-md-5 pt-4 mb-md-5 mt-2">
                <h1 class="display-3 text-uppercase mb-sm-4">
                    <span class="fw-medium">The</span> <span class="text-info fw-bold">Coffeeroom</span>
                </h1>
                <div class="mx-auto mx-md-0" style="max-width: 400px;">
                    <p class="pb-2 pb-lg-0 mb-4 mb-lg-5">Now you can fully hear every detail and experience superior sound with a wide soundstage with deep tight bass that will surprise you.</p><a class="btn btn-outline-dark" href="#">Explore</a>
                    <div class="d-none d-xxl-block" style="height: 290px;"></div>
                    <div class="d-none d-md-block d-xxl-none" style="height: 240px;"></div>
                    <div class="d-md-none" style="height: 50px;"></div>
                    <div data-aos="fade-up" data-aos-duration="800" data-aos-offset="250" data-disable-parallax-down="md" class="aos-init">
                        <h2 class="h1 pb-sm-2 pb-md-3">You can take the music anywhere in posuere the music</h2>
                        <p>Turpis nullam netus sed aliquam consectetur at felis  consequat tincidunt orci varius arcu urna neque eget maecenas consequat lacus habitasse adipiscing in.</p><a class="btn btn-link text-dark px-0" href="#">Read more<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container pt-md-2 pt-lg-4 pt-xl-5">
    <div class="row align-items-center mt-2 mt-sm-0 pt-4 pt-sm-5">
        <div class="col-md-6 col-lg-7 col-xxl-8 order-md-2 pb-4 pb-md-0 mb-2 mb-sm-3 mb-md-0">


            <div class="position-relative ms-md-auto" style="max-width: 636px;">
                <div class="position-absolute bottom-0 start-0 w-100 bg-secondary rounded-5 aos-init" style="height: 91.5%;" data-aos="zoom-in" data-aos-duration="700" data-aos-offset="300"></div>
                <div class="position-relative zindex-2 pb-4 pb-sm-5">
                    <div class="tab-content pb-3 mb-3">
                        <div class="tab-pane" id="gray" role="tabpanel"><img class="d-block mx-auto" src="assets/img/landing/product/colors/gray.png" width="486" alt="Gray"></div>
                        <div class="tab-pane" id="blue" role="tabpanel"><img class="d-block mx-auto" src="assets/img/landing/product/colors/blue.png" width="486" alt="Blue"></div>
                        <div class="tab-pane show active" id="green" role="tabpanel"><img class="d-block mx-auto" src="assets/img/landing/product/colors/green.png" width="486" alt="Green"></div>
                        <div class="tab-pane" id="pink" role="tabpanel"><img class="d-block mx-auto" src="assets/img/landing/product/colors/pink.png" width="486" alt="Pink"></div>
                    </div>
                    <div class="h6 fs-sm text-center pb-2 mb-1" id="colorOption">Green day</div>
                    <div class="nav nav-tabs justify-content-center" role="tablist">
                        <div class="nav-link border-0 p-0 me-2" data-bs-toggle="tab" data-bs-target="#gray" aria-selected="false" tabindex="-1" role="tab">
                            <input class="btn-check" type="radio" name="color" data-binded-label="colorOption" value="Gray light" id="gray-color">
                            <label class="btn btn-icon btn-xs btn-outline-secondary rounded-circle" for="gray-color" style="width: 1.25rem; height: 1.25rem;"><span class="d-block rounded-circle" style="width: .75rem; height: .75rem; background-color: #576071;"></span></label>
                        </div>
                        <div class="nav-link border-0 p-0 me-2" data-bs-toggle="tab" data-bs-target="#blue" aria-selected="false" tabindex="-1" role="tab">
                            <input class="btn-check" type="radio" name="color" data-binded-label="colorOption" value="Blue sky" id="blue-color">
                            <label class="btn btn-icon btn-xs btn-outline-secondary rounded-circle" for="blue-color" style="width: 1.25rem; height: 1.25rem;"><span class="d-block rounded-circle" style="width: .75rem; height: .75rem; background-color: #a1b7d9;"></span></label>
                        </div>
                        <div class="nav-link border-0 p-0 me-2 active" data-bs-toggle="tab" data-bs-target="#green" aria-selected="true" role="tab">
                            <input class="btn-check" type="radio" name="color" data-binded-label="colorOption" value="Green day" checked="" id="green-color">
                            <label class="btn btn-icon btn-xs btn-outline-secondary rounded-circle" for="green-color" style="width: 1.25rem; height: 1.25rem;"><span class="d-block rounded-circle" style="width: .75rem; height: .75rem; background-color: #b3cca3;"></span></label>
                        </div>
                        <div class="nav-link border-0 p-0 me-2" data-bs-toggle="tab" data-bs-target="#pink" aria-selected="false" tabindex="-1" role="tab">
                            <input class="btn-check" type="radio" name="color" data-binded-label="colorOption" value="Pink dream" id="pink-color">
                            <label class="btn btn-icon btn-xs btn-outline-secondary rounded-circle" for="pink-color" style="width: 1.25rem; height: 1.25rem;"><span class="d-block rounded-circle" style="width: .75rem; height: .75rem; background-color: #fda9a9;"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xxl-4 order-md-1">
            <div class="pe-md-4 pe-xl-0">
                <h2 class="h1 pb-md-2 pb-xl-3"><span style="background: linear-gradient(90.72deg, #cbfdb1 3.49%, #acbff1 50.67%, #efa7ec 100.79%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Multicolor</span> for those who like to be bright and stand out</h2>
                <p class="mb-0">Turpis nullam netus sed aliquam consectetur at felis  consequat tincidunt orci varius arcu urna neque eget maecenas consequat lacus habitasse adipiscing.</p>
            </div>
        </div>
    </div>
</section>
<section class="container py-5 my-lg-3 my-xl-4 my-xxl-5">
    <div class="text-center pt-sm-2 pt-md-4 pt-lg-3 pt-xl-4 pb-3 mx-auto mb-3 mb-lg-4" style="max-width: 720px;">
        <h2 class="h1 pt-1 pt-sm-2">What's in the coffeeroom'</h2>
        <p class="mb-0">Turpis nullam netus sed aliquam consectetur at felis  consequat tincidunt orci varius arcu urna neque eget maecenas consequat lacus habitasse adipiscing.</p>
    </div>
    <div class="row g-4 mb-3 mb-xl-0 pb-sm-2 pb-md-4 pb-xl-5">
        <div class="col-md-5 col-lg-4 order-md-1">
            <div class="card border-0 h-100 bg-size-cover bg-position-top-center" style="min-height: 280px; background-image: url(assets/img/landing/product/gallery/01.jpg);"></div>
        </div>
        <div class="col-md-7 col-lg-8 order-md-2">
            <div class="card border-0 bg-secondary h-100 px-xl-4 pb-sm-2 pb-xl-4">
                <img class="d-block mx-auto" src="assets/img/landing/product/gallery/03.png" width="408" alt="Image">
                <div class="card-body">
                    <h3>Eco-friendly made from recycled plastic</h3>
                    <p class="card-text">Turpis nullam netus sed aliquam at felis ante ipsum in consequat tincidunt orci varius arcu urna neque maecenas consequat lacus malesuada habitasse or adipiscing in lacus ipsum or natoque tincidunt arcu uter cursus et quam odio amet urna neque eget.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 order-md-4">
            <div class="card border-0 h-100 bg-size-cover bg-position-center" style="min-height: 280px; background-image: url(assets/img/landing/product/gallery/02.jpg);"></div>
        </div>
        <div class="col-md-7 col-lg-8 order-md-3">
            <div class="card border-0 bg-secondary h-100">
                <div class="row g-0">
                    <div class="col-lg-6"><img class="d-block" src="assets/img/landing/product/gallery/04.png" width="377" alt="Image"></div>
                    <div class="col-lg-6 align-self-center mt-n4 mt-lg-0">
                        <div class="card-body">
                            <h3>Headphones for sports, for life, for pleasure</h3>
                            <p class="card-text">Donec urna, sed molestie tincidunt elit nunc pellentesque ipsum purus a turpis elementum augue magna hendrerit bibendum morbi elementum non egestas in nec donec sit magna amet et mauris nisl suscipit urna in morbi sit elementum venenatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>