@page "/"
@model Coffeeroom.Pages.IndexModel


@section jsLib{
    <script src="~/assets/vendor/parallax-js/dist/parallax.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
}
@section cssLib{
    <link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css" />
}

<section class="bg-faded-primary d-flex min-vh-100 overflow-hidden py-5">
    <div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
        <div class="row align-items-center pt-5 mt-4 mt-xxl-0">
            <!-- Video + Parallax-->
            <div class="col-lg-6 mb-4 mb-lg-0 pb-3 pb-lg-0">
                <div class="parallax mx-auto mx-lg-0" style="max-width: 582px;">
                    <div class="parallax-layer zindex-3" data-depth="0.1">
                        <div class="position-relative mx-auto" style="max-width: 61%; padding: .3125rem; margin-bottom: 9.9%; background-color: #121519; border-radius: calc(var(--ar-border-radius) * 2.125);">
                            <div class="position-absolute start-50 translate-middle-x" style="top: 4.4%; width: 85%;">
                                <div class="row row-cols-4 gx-2 mb-3">
                                    <div class="col">
                                        <div class="border-white border opacity-80"></div>
                                    </div>
                                    <div class="col">
                                        <div class="border-white border opacity-80"></div>
                                    </div>
                                    <div class="col">
                                        <div class="border-white border opacity-80"></div>
                                    </div>
                                    <div class="col position-relative">
                                        <div class="position-absolute top-0 start-0 w-100 border-white border opacity-30"></div>
                                        <div class="position-absolute top-0 start-0 w-50 border-white border opacity-80"></div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="assets/img/landing/marketing-agency/hero/avatar.jpg" width="35" alt="Avatar">
                                    <div class="ignore-dark-mode fs-xs ps-2"><span class="text-nav fw-bold me-1">@@coffeeroom.insta</span><span class="text-muted">12 min</span></div>
                                </div>
                            </div>
                            <video class="d-block w-100" autoplay loop muted style="border-radius: calc(var(--ar-border-radius) * 1.875);">
                                <source src="https://packaged-media.redd.it/ohdaw7zfpobb1/pb/m2-res_854p.mp4?m=exp-unified2%2FDASHPlaylist.mpd&v=1&e=1689267600&s=2dadaedfa924330015ce61d77013b140c647910a#t=0" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="parallax-layer" data-depth="0.3"><img src="assets/img/landing/marketing-agency/hero/shape01.svg" alt="Background shape"></div>
                    <div class="parallax-layer zindex-2" data-depth="-0.1"><img src="assets/img/landing/marketing-agency/hero/shape02.svg" alt="Background shape"></div>
                    <div class="parallax-layer" data-depth="-0.15"><img src="assets/img/landing/marketing-agency/hero/shape03.svg" alt="Background shape"></div>
                    <div class="parallax-layer zindex-2" data-depth="-0.25"><img src="assets/img/landing/marketing-agency/hero/shape04.svg" alt="Background shape"></div>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-2 pb-3 mb-4"><span class='fw-normal'>The Coffeeroom</span></h1>
                <div class="row row-cols-3">
                    <div class="col">
                        <i class="ai-bulb-alt d-block fs-1 text-dark mb-2 pb-1"></i>
                        <p class="mb-0">Blogs to keep you involved</p>
                    </div>
                    <div class="col">
                        <i class="ai-rocket d-block fs-2 text-dark mb-3"></i>
                        <p class="mb-0">We guarantee the result after a month</p>
                    </div>
                    <div class="col">
                        <i class="ai-circle-check-filled d-block fs-3 text-dark mb-3"></i>
                        <p class="mb-0">Completing tasks exactly on time</p>
                    </div>
                </div>
                <div class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2"><a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" href="#">Explore</a><a class="btn btn-lg btn-link" href="#">Our case studies<i class="ai-arrow-right ms-2"></i></a></div>
            </div>
        </div>
    </div>
</section>