@page "/blogs/{cattype?}/{catkey?}"
@model Coffeeroom.Pages.Blogs.IndexModel
@{
}
@section jsLib{

<script src="~/lib/react/umd/react.production.min.js"></script>
    <script src="~/lib/react-dom/cjs/react-dom.production.min.js"></script> 

}
<section class="container pt-5 mt-5">
    <div class="mt-4" id="dddd">
        something
    </div>
</section>
<script>
    //import React from 'react';
    //import ReactDOM from 'react-dom';

    //// Your data
    //const data = 'Hello, World!';

    //// Your component
    //const MyComponent = () => {
    //    return (
    //        <div>{ data } < /div>
    //    );
    //};

    //ReactDOM.render(<MyComponent />, document.getElementById('dddd'));
</script>

